.myForm{
    width: 35%;
    background-image: linear-gradient(40deg, pink, rgb(230, 230, 70));
    border-radius: 25px;
}

.myBackground{
    position:absolute;
    background-color: rgb(252, 246, 246);
    width: 100vw;
    height: 100vh;
}