.myPost{
    background-color: white;
    border-radius: 25px;
}

.myContent{
    white-space: pre-wrap;
    font-family: helvetica;
    font-size: 16px;
}

.mediaBtn{
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: blanchedalmond;
}

.mediaBtn:hover{
    background-color: rgb(218, 196, 163);
}